<%= content_for :mainbody do %>

  <!--Left-->
  <article class="twelve wide column">
    <div class="ui tab active" data-tab="bootstrap">
      <h2 class="ui dividing header">
        課程清單
      </h2>
      <div class="ui two stackable doubling cards" style="margin-top: 0.875rem !important">
        <% @courses.each do |course| %>
        <div class="ui raised link card">
          <div class="content">
            <div class="header">
              <%= course.course_name_ch %>
            </div>
            <div class="description">
              <%= course.course_teacher %> / <%= course.course_weekday %>
              <%if course.course_begin_time == nil %>
                <%= '彈性時間' %>
              <%else %>
                <%= course.course_begin_time.strftime("%H:%M") %>
              <% end %>
              -
              <%if course.course_end_time == nil %>
                <%= '彈性時間' %>
              <%else %>
                <%= course.course_end_time.strftime("%H:%M") %>
              <% end %>
            </div>
          </div>
          <div class="extra content">
            <div class="ui two item menu">
              <a class="ui button item" href="#">課程內容</a>
              <% if user_signed_in? %>
                <%= link_to "加入追蹤清單", {:controller => 'managecourse', :action => 'update', :id => course.course_id }, {class: "ui button item", :method => :patch } %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      <div class="ui hidden divider"></div>
  </article>

  <!-- Right-->
  <aside class="four wide column">

    <div class="ui buttons" style="margin:5px 0 6px 0;">
      <div class="ui vertical grey animated button" tabindex="0">
        <div class="visible content">整開/通識</div>
        <div class="hidden content">General Course</div>
      </div>
      <div class="ui vertical grey animated button" tabindex="0">
        <div class="visible content">體育/服務學習</div>
        <div class="hidden content">Physical/Service</div>
      </div>
    </div>
    <div style="margin:5px 0 6px 0;">
      <div class="ui vertical green animated button" tabindex="0">
        <div class="visible content">理學院</div>
        <div class="hidden content">Science</div>
      </div>
      <div class="ui vertical red animated button" tabindex="0">
        <div class="visible content">外語學院</div>
        <div class="hidden content">Foreign Lang.</div>
      </div>
    </div>
    <div style="margin:5px 0 6px 0;">
      <div class="ui vertical orange animated button" tabindex="0">
        <div class="visible content">文學院</div>
        <div class="hidden content">Liberal Arts</div>
      </div>
      <div class="ui vertical teal animated button" tabindex="0">
        <div class="visible content">社會科學學院</div>
        <div class="hidden content">Social Science</div>
      </div>
    </div>
    <div style="margin:5px 0 6px 0;">
      <div class="ui vertical yellow animated button" tabindex="0">
        <div class="visible content">商學院</div>
        <div class="hidden content">Commerce</div>
      </div>
      <div class="ui vertical olive animated button" tabindex="0">
        <div class="visible content">傳播學院</div>
        <div class="hidden content">Comm.</div>
      </div>
    </div>
    <div style="margin:5px 0 6px 0;">
      <div class="ui vertical brown animated button" tabindex="0">
        <div class="visible content">法學院</div>
        <div class="hidden content">Law</div>
      </div>
      <div class="ui vertical blue animated button" tabindex="0">
        <div class="visible content">國際事務學院</div>
        <div class="hidden content">Int'l Affairs</div>
      </div>
    </div>
    <div style="margin:5px 0 6px 0;">
      <div class="ui vertical pink animated button" tabindex="0">
        <div class="visible content">教育學院</div>
        <div class="hidden content">Education</div>
      </div>
    </div>
    <div class="column" style="margin:5px 0 6px 0;">
      <div class="ui segments">
        <div class="ui red segment">Monday</div>
        <div class="ui blue segment">Tuesday</div>
        <div class="ui green segment">Wednesday</div>
        <div class="ui violet segment">Thursday</div>
        <div class="ui orange segment">Friday</div>
        <div class="ui olive segment">Saturday</div>
        <div class="ui brown segment">Sunday</div>
        <div class="ui purple segment">彈性</div>
      </div>
    </div>
  </aside>

<% end %>
