<%= content_for :mainbody do %>
  <article class="five wide column">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post ,:class => 'ui form'}) do |f| %>
  <h2 class="ui header">Forgot your password?</h2>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" ,:class => 'ui button' %>
  </div>
<% end %>
  </article>
  <aside class="four wide column">
    <div class="ui vertical fluid menu rightMenu">
      <%= render "devise/shared/links" %>
    </div>
  </aside>

<% end %>