<!DOCTYPE html>
<html>
  <head>
    <title>SystemOfCourseSelection</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="default">

    <div class="pusher">
      <div id="content">

        <% if user_signed_in? %>
            <%= render 'layouts/TopMenu' %>
        <% else %>
            <%= render 'layouts/TopMenuLogout' %>
        <% end %>

        <div class="ui vertical stripe segment">
          <div class="ui container">
            <div class="ui medium right floated image">
                Powered by<%= image_tag("logo.png") %>
            </div>
            <h1 class="ui header">
              iCourse
              <div class="sub header">
                軟體工程學期專案
              </div>
            </h1>
          </div>
        </div>

        <div class="ui vertical stripe segment">
          <div class="ui divided relaxed grid stackable container">
            <div class="row">
              <%= yield :mainbody %>
            </div>
          </div>
        </div>
      </div>

    </div>


    <%= yield %>

  </body>

</html>
